#page_about {
  min-height: 100vh;
  margin-left: 2em;
  #about-panel {
    max-width: min(1200px, 80%);
    margin: 0 auto;
    margin-top: 20vh;
    background: url("/bg/pattern_line.png"), white;
    min-height: 500px;
    border-radius: 1em;
    border: 6px solid var(--dBlue);
    box-shadow: 0px 0px 54px var(--shadow);

    display: grid;
    grid-template-columns: 1.3fr 2fr;

    figure {
      position: relative;
      &:hover {
        .deli {
          scale: 1.25;
        }
      }
      .water {
        position: absolute;
        border-radius: 5em;
        opacity: 0.5;
        width: 100%;
        object-fit: contain;
        height: 100%;
        scale: 0.95;
        top: 0%;
        left: 0%;
      }
      .deli {
        width: 100%;
        transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
        height: 100%;
        object-fit: contain;
        object-position: bottom;
        scale: 1.15;
        transform-origin: bottom right;
        user-select: none;
        pointer-events: none;
      }
    }
    article {
      display: flex;
      flex-direction: column;
      .info {
        display: flex;
        .about {
          display: flex;
          flex-direction: column;
          padding-top: 2em;
          h2 {
            font-size: 3.4rem;
            color: var(--dBlue);
            font-family: var(--fontAlt);
          }
          p {
            background: #f1f7ff;
            height: 100%;
            padding: 1em;
            border-radius: 1em;
          }
        }
        .art {
          scale: 0.8;
          user-select: none;
          pointer-events: none;
          animation: speen 20s infinite linear;
        }
      }
      .contact-btn {
        padding-top: 1em;
        padding-right: 1em;
        display: flex;
        height: 100px;
        justify-content: space-between;
        // margin: 1em;
        gap: 1em;
        .btn-social {
          width: 100%;
          background: #c0d2e9;
          outline: 4px solid var(--dBlue);
          outline-offset: -2px;
          border-radius: 50%;
          color: white;
          padding: 1em;
          box-shadow: 0px 2px 4px var(--dBlue);
          svg {
            width: 100%;
            height: 100%;
          }
          &:nth-child(odd) {
            transform: translateY(20%);
          }
        }
      }
    }
  }
}
